<footer>
  <div class="wrapper">
    <div class="info">
      <div class="social-media">
        <p class="social-media-title" l10nTranslate>footer.follow</p>
        <div class="social-media-links">
          <a href="https://github.com/G-Fidalgo" target="_blank"
            ><img src="../../../../assets/images/Github.png" alt="Github Logo"
          /></a>
          <a
            href="https://www.linkedin.com/in/gonzalo-fidalgo-martinez-merello/"
            target="_blank"
            ><img
              src="../../../../assets/images/LinkdIn.png"
              alt="LinkedIn Logo"
          /></a>
        </div>
      </div>
      <div class="personal-info">
        <p class="personal-info-title" l10nTranslate>footer.title </p>
        <ul>
          <li l10nTranslate>footer.name</li>
          <li l10nTranslate>footer.city</li>
          <li l10nTranslate>footer.telephone</li>
          <li l10nTranslate>footer.cv</li>
          
        </ul>
      </div>
    </div>
    <div class="backtotop">
      <a href="#" l10nTranslate>footer.top</a>
    </div>
  </div>
</footer>
